<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Document</title>

    </head>

    <body class="char-details">
        <h1 class="page-title">STAR WARS</h1>
        <div class="char-container">
            <h2>CREATE CARD WITH YOUR FAVOURITE CHARACTERS</h2>
            <section class="info">
                <p class="others">PAGE # <span>
                        <%=pageNumber%>
                    </span>
                </p>
                <p class="others">CARDS CREATED # <span>
                        <%=starfighters.length%>
                    </span></p>
            </section>

            <form class="set-card" action="/charsCard" method="POST">

                <select name="name" class="char">
                    <option class="label" value=""> Select Name</option>
                    <% for (let char of characters){%>
                        <option value='<%= char.name %>'>
                            <%=char.name%>
                        </option>
                        <%}%>
                </select>
                <select name="dob" class="char">
                    <option class="label" value="">Select Date Of Birth</option>
                    <% for (let char of characters){%>

                        <option value='<%=char.birth_year%>'>
                            <%=char.birth_year%>
                        </option>
                        <%}%>>
                </select>

                <select name="vehicle" class="char">
                    <option class="label" value="">Select Vehicles</option>
                    <% for (let vehicle of vehicles){%>

                        <option value='<%=vehicle.name%>'>
                            <%=vehicle.name%>
                        </option>
                        <%}%>
                </select>

                <select name="starship" class="char">
                    <option class="label" value="">Select Starship</option>
                    <% for (let starship of starships){%>

                        <option value='<%=starship.name%>'>
                            <%=starship.name%>
                        </option>
                        <%}%>
                </select>

                <select name="planet" class="char">
                    <option class="label" value="">Select Planet</option>
                    <% for (let planet of planets){%>

                        <option value='<%=planet.name%>'>
                            <%=planet.name%>
                        </option>
                        <%}%>
                </select>

                <select name="galaxy" class="char">
                    <option class="label" value="">Select Galaxy</option>

                    <option value='GFFA'>
                        GFFA
                    </option>

                </select>
                <button>GET CARD</button>

            </form>

            <form class="pagination" action="/charDet" method="POST">
                <select name="page" class="char">
                    <option class="label" value="">Select Another Page</option>
                    <% for (let i=1; i<10; i++){%>

                        <option value='<%=i%>'>
                            <%=i%>
                        </option>
                        <%}%>
                </select>
                <button class="btn-reload">LOAD PAGE</button>
            </form>

        </div>
        <script src="/index.js"></script>
    </body>

</html>
